.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label {
  margin: 0 12px 0 0;
}

.initial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: initial;
}
