.consumer {
  display: flex;
  margin: 12px 0;
}

.consumer__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 12px;
}

.consumer__checkbox {
  width: 16px;
  height: 16px;
}

.consumer__title {
  display: block;
  position: relative;
  padding-left: 46px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.consumer__title input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 25%;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #eee;
  transition: 0.4s;
  margin-left: 12px;
  border-radius: 0.3rem;
}

/* On mouse-over, add a grey background color */
.consumer__title:hover input ~ .checkmark {
  background-color: #2b776f;
  transition: 0.4s;
}

/* When the checkbox is checked, add a blue background */
.consumer__title input:checked ~ .checkmark {
  background-color: #2b776f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.consumer__title input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.consumer__title .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label {
  margin-bottom: 0;
}

.disabled {
  background-color: #c4c4c4 !important;
  border: 1px solid #c4c4c4 !important;
}
