.container__price-levels {
  display: flex;
  justify-content: space-between;
}

.price-level-primary-title {
  font-size: 1.25rem;
  font-family: "SF Pro Display";
  margin-bottom: 4px;
}

.price-level-title {
  font-family: "SF Pro Display";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.price-level-add {
  display: flex;
  width: 100%;
}

.price-level-width {
  width: 100% !important;
}

.price-level-confirmed {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-family: "SF Pro Display";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.price-level-confirmed_remove {
  margin-left: 12px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.price-level-confirmed_even {
  background-color: #fbfbfb;
}

.excl-list{
  margin-top: 12px
}

.container__excl-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}