body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background/work-desk.jpg");
  background-position: center;
  background-size: cover;
}
.main__block {
  display: block;
  padding: 30px 60px;
  background: linear-gradient(135deg, #3eb5ec 20%, #4b4bdf 100%);
  border-radius: 5px;
}
@media (max-width: 500px) {
  .main__block {
    padding: 30px 20px;
  }
}
.main__logo {
  margin-bottom: 20px;
  width: 30px;
}
.main__title {
  margin: 0;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
}
.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.main__form input,
.main__form select {
  width: 100%;
  color: #1a1a1a;
  font-style: italic;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 500px) {
  .main__form {
    width: 270px;
  }
}
.main__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}
.main__label input {
  display: none;
}
.main__label input:checked + .checkbox-indicator::before {
  display: block;
}
.checkbox-indicator {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 10px;
}
.checkbox-indicator::before {
  content: "";
  position: absolute;
  display: none;
  width: 10px;
  height: 4px;
  top: 3px;
  left: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: 2px solid #1a1a1a;
  border-top: none;
  border-right: none;
}
.button {
  display: inline-block;
  width: 200px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  background-color: #3eb5ec;
  padding: 15px 20px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.button:hover,
.button:focus {
  background-color: #27acea;
}
.button:active {
  background-color: #16a1e1;
}
