/* competitors styles */

.competitors-container {
  max-height: 430px;
  height: 430px;
  background-color: #ffffff;
  padding: 22px 32px;
  display: flex;
}

.competitors-container__left-side {
  width: 35%;
  border-right: 1px solid #989898;
  padding-right: 22px;
}

.competitors-container__right-side {
  width: 65%;
  padding-left: 22px;
  overflow-y: auto;
}

.competitors-container__right-side::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 99%;
  height: 8em;
}

.competitors-settings__pms-select {
  margin-top: 12px;
  justify-content: center;
  align-items: center;

  width: 290px;
  margin: 0 auto;

  font-family: "SF Pro Display";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.competitors-settings__pms-select span {
  margin-bottom: 12px;
}

.competitors_empty {
  font-family: "SF Pro Display";
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  height: 322px;
  max-height: 322px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side__title {
  font-family: "SF Pro Display";
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 26px;
}

.left-side__input {
  font-family: "SF Pro Display Italic";
  width: 100%;
  border: 1px solid #dddddd;
  font-size: 16px;
  line-height: 30px;
  padding: 12px 25px;
  background: url("./icons/searchIcon.svg") no-repeat scroll 96% 50%;
  margin-bottom: 27px;
}

.left-side__secondary-title {
  font-family: "SF Pro Display Black";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}

.left-side__last-filters {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.star {
  color: #c4c4c4;
  font-size: 28px;
  margin-right: 9px;
  cursor: pointer;
  transition: 0.4s;
}

.filter-description {
  font-family: "SF Pro Display Black";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  font-weight: bold;
  color: #000;
}

.last-filters__sortedBy {
  margin-left: 12px;
  width: 100%;
}

.loader-hotels {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 356px;
  align-items: center;
  background-color: #fff;
}

.loader-hotels-rec {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 322px;
  align-items: center;
  background-color: #fff;
}

.sortedBy__loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* recommendations styles */

.recommendations-container {
  background-color: #ffffff;
  padding: 22px 32px;
}

.recommendations-container__title {
  font-family: "SF Pro Display";
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 26px;
}

.recommendations-container__list {
  display: flex;
  flex-direction: column;
}

.recommendations-container__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 12px;
  cursor: pointer;
}

.recommendations-container__input {
  display: flex;
  justify-content: flex-start;
}

.recommendation__title {
  font-family: "SF Pro Display";
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.competitor__title {
  font-family: "SF Pro Display";
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.recommendation__actions {
  display: flex;
  align-items: center;
}

.recommendation__arrow {
  margin-right: 12px;
}

.recommendation__cross {
  cursor: pointer;
  color: #ff0000;
  width: 10px;
  height: 10px;
}

.input__text {
  font-family: "SF Pro Display Italic";
  border: 1px solid #dddddd;
  font-size: 16px;
  line-height: 30px;
  padding: 4px 12px;
  width: 100%;
  margin-right: 12px;
}

.input__button {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 4px 40px;
  width: 20%;
  background-color: #339289;
  border-radius: 3px;
  border: 1px solid #339289;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  cursor: pointer;
  transition: 0.4s;
}

.input__button:disabled {
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
}
.input__button:hover:enabled {
  background-color: #2b776f;
  border: 1px solid #2b776f;
}

.recommendations-container__save {
  margin-top: 12px;
}

/* more info styles */

.more-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 12px;
}

.more-info__extra-settings {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  transition: 0.4s;
  cursor: pointer;
}

.more-info__extra-settings:hover {
  background-color: #c4c4c4;
  color: #fff;
  transition: 0.4s;
}

.more-info__competitors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-info__pms {
  display: flex;
  margin-bottom: 12px;
}

.more-info__pms-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 6px 0 12px 0;
}

.pms-categories__item {
  background-color: #2b776f;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  margin: 6px 6px 0 0;
  transition: 0.4s;
  cursor: pointer;
}

.pms-categories__item:hover {
  background-color: #c4c4c4;
  transition: 0.4s;
}

.more-info__input {
  max-width: 270px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  border-radius: 2px;
  font-family: "SF Pro Display Italic";
  border: 1px solid #dddddd;
  padding: 4px 12px;
}

.more-info__hotel-competitors {
  display: flex;
  flex-direction: column;
}

.more-info__own-hotel {
  display: flex;
  justify-content: flex-end;
}

.own-holel__label {
  cursor: pointer;
  text-decoration: underline;
}

.hotel-competitor {
  display: flex;
  justify-content: space-between;
  background-color: #e9e9e9;
  padding: 4px 30px;
  margin: 12px 0;
}

.lh {
  line-height: 18px;
}

/* competitor settings */

.competitors-settings__breakfast {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.breakfast__item {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.breakfast__item:first-child {
  margin-left: 46px;
}

/* common styles */
.star:hover {
  color: #339289;
  font-size: 32px;
}

.star-active {
  color: #339289;
}

.item_even {
  background-color: #fbfbfb;
}

.label {
  font-family: "SF Pro Display";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.bold {
  font-weight: bold;
}

.breakfast__item {
  display: block;
  position: relative;
  padding-left: 35px;
  font-family: "SF Pro Display";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.breakfast__item label {
  margin-bottom: 0;
}

/* Hide the browser's default radio button */
.breakfast__item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.breakfast__checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
}

/* On mouse-over, add a grey background color */
.breakfast__item:hover input ~ .breakfast__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.breakfast__item input:checked ~ .breakfast__checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.breakfast__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.breakfast__item input:checked ~ .breakfast__checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.breakfast__item .breakfast__checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: #339289;
  border-radius: 50%;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Light.eot");
  src: url("../../fonts/SFProDisplay-Light.woff") format("woff"),
    url("../../fonts/SFProDisplay-Light.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display Black";
  src: url("../../fonts/SFProDisplay-Black.eot");
  src: url("../../fonts/SFProDisplay-Black.woff") format("woff"),
    url("../../fonts/SFProDisplay-Black.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Black.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display Italic";
  src: url("../../fonts/SFProDisplay-ThinItalic.eot");
  src: url("../../fonts/SFProDisplay-ThinItalic.woff") format("woff"),
    url("../../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-ThinItalic.ttf") format("truetype");
}
