.range-container__button {
  background-color: #339289;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
}

.range-container__line {
  background-color: #c4c4c4;
  height: 1px;
}

.range-container__output {
  width: 100%;
  display: flex;
}

.output__begin-distance {
  font-size: 10px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  color: #b5b5b5;
  width: 45%;
}

.output__hint {
  font-family: SF Pro Display;
  font-size: 10px;
  letter-spacing: -0.00028px;
  color: #656565;
  font-weight: bold;
  width: 55%;
  align-self: center;
}
