@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neo Sans Pro";
  src: url("../fonts/NeoSansPro-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Neo Sans Pro", sans-serif;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  min-height: 100vh;
  background-color: #f7f7f7;
}
.App {
  background-color: #f3f4f5;
  flex-grow: 1;
}
.footer {
  margin-top: 25px;
}
.container-row {
  margin-top: 20px;
}
.panel {
  background: #fff;
}
.tooltip_icon {
  position: absolute;
  z-index: 99;
  top: 5px;
  right: 25px;
}

.tooltip .arrow::before {
  border: none;
}

.tooltip-inner {
  background-color: rgba(67, 15, 131, 0.671);
}

.sales-table .reduction {
  color: #ef385f;
}
.sales-table .growth {
  color: #50c0ad;
}
.sales-table .row {
  margin: 0;
}
.sales-table .row > div {
  padding: 0;
}
.sales-table td {
  border-left: 1px solid #dee2e6 !important;
}
.key-metrics .good .val,
.key-metrics .good .diff {
  color: #50c0ad;
}
.key-metrics .bad .val,
.key-metrics .bad .diff {
  color: #ef385f;
}
.key-metrics .metric {
  padding: 10px;
}

/* .calendar .table-wrap td span {
  display: block;
} */
.calendar-calendar .table-wrap td.green {
  background-color: #dff0ed;
}
.calendar-calendar .table-wrap td.red {
  background-color: #fbcdd6;
}
.calendar-calendar .table-wrap td .date {
  text-align: right;
}

.another-month,
.current-month {
  height: 85px;
}

/* .calendar-calendar .table-wrap td .v1 {
  font-size: 1.5em;
}
.calendar-calendar .table-wrap td .v1, 
.calendar-calendar .table-wrap td .v2 {
  font-weight: bold;
}
.calendar-calendar .table-wrap .green .v1 {
  color: #51beaa;
}
.calendar-calendar .table-wrap .red .v1 {
  color: #de226e;
} */

.graph-panel .toggle {
  float: right;
  padding: 10px;
}
/* .calendar-calendar table td {
  position: relative;
}
.calendar-calendar table td .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: #333;
}
.calendar-calendar table td .content {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
} */

.user-image {
  position: absolute;
  display: block;

  width: 40px;
  height: 40px;

  left: 10px;
  top: 10px;

  border-radius: 50%;

  overflow: hidden;
}

.user-image img {
  position: absolute;
  height: 100%;

  left: 50%;
  transform: translateX(-50%);
}

h4.main-title {
  font-size: 20px;
  font-weight: 400;
}

.navbar {
  padding: 0;

  background-image: linear-gradient(
    to left,
    rgb(124, 91, 165) 0%,
    rgb(0, 167, 158) 100%
  );

  margin-bottom: 15px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link {
  position: relative;
  color: #fff;

  cursor: pointer;
  min-height: 59px;

  padding: 14px 20px;
  padding-top: 22px;
  padding-left: 60px;

  transition: background-color 0.2s;

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 20px center;

  border-right: 1px solid #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;

  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu {
  background-color: #fff;
  width: auto;
  min-width: 181px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);

  margin-top: 15px;
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-item {
  padding: 10px 30px;
  text-align: right;
  color: #000;
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-divider {
  margin: 0;
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-item:hover,
.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-item:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

.nav-item.active {
  background-color: #0d6461;
}

.navbar-brand {
  position: relative;
  padding: 0;
  margin: 0;

  display: block;

  width: 70px;
  height: 59px;

  /* background-image: url("../images/logo.png");
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat; */

  border-right: 1px solid #fff;
}

.navbar-brand::before {
  content: "H";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  top: 7px;
  left: 10px;

  color: #fff;
  font-size: 30px;
  font-weight: 400;

  border-radius: 50%;
  border: 2px solid #fff;

  /* padding: 3px 10px; */
}

.navbar-brand img {
  display: none;
}

.nav-link svg {
  display: none;
}

.income-control {
  background-image: url("../images/algo.png");
}

.nav-link-marketing {
  background-image: url("../images/digi.png");
}

.nav-link-analytics {
  background-image: url("../images/data.png");
}

.nav-link-settings {
  background-image: url("../images/settings.svg");
}

.navbar-light .navbar-nav .nav-link.nav-link-notifications {
  position: relative;
  border: none;

  padding-left: 40px;

  background-image: url("../images/notifications.png");
  background-size: 20px;
  background-position: center;
}

.navbar-light .navbar-nav .nav-link.nav-link-mail {
  position: relative;
  border: none;

  padding-left: 55px;

  background-image: url("../images/Inbox.png");
  background-position: center;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link {
  color: #000;
  border-right: none;
  padding: 10px;
  min-height: 0;
}

.navbar-nav .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  border: none;

  width: 234px;
  right: 1px;

  background-color: #0d6461;
}

.navbar-nav .dropdown-menu .dropdown-item {
  padding: 0 24px;
  padding-left: 50px;
}
.navbar-nav .dropdown-menu .dropdown-item .nav-link,
.navbar-nav .dropdown-menu .dropdown-item .nav-link {
  color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: #367e7b;
}

.navbar-nav .dropdown-menu .dropdown-item:hover .nav-link,
.navbar-nav .dropdown-menu .dropdown-item:focus .nav-link {
  color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item.active {
  background-color: #367e7b;
}

.dropdown-menu {
  padding: 0;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link:hover {
  background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgb(0, 167, 158);
}

.navbar-light .navbar-nav .nav-link .badge {
  position: absolute;
  display: block;

  color: rgb(115, 91, 162);
  font-size: 10px;

  width: 17px;
  height: 17px;

  top: 10px;
  right: 15px;

  background-color: #fff;
  border-radius: 50%;
}

.navbar-nav .hotel-selector .nav-link {
  border: none;
  color: #fff !important;
}

.navbar-nav .hotel-selector .dropdown-menu {
  background-color: #fff;
  right: 0;
  width: auto;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);

  margin-top: 15px;
}

.navbar-nav .hotel-selector .dropdown-menu .dropdown-item {
  padding: 10px 20px;
  color: #000;
}

.navbar-nav .hotel-selector .dropdown-menu .dropdown-item:hover,
.navbar-nav .hotel-selector .dropdown-menu .dropdown-item:focus,
.navbar-nav .hotel-selector .dropdown-menu .dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.03);
}

.nav-language {
  align-self: center;
  color: #fff;
  padding: 14px 20px;
}

.flag-select .arrow-down {
  color: #fff;
}

.flag-select img {
  top: initial;
}

.flag-select .flag-option {
  color: black;
}

.calendar-details .nav-tabs {
  padding: 0 35px;
}

.calendar-calendar {
  max-width: calc(66.6666667% - 30px);
  margin-left: 15px;

  padding-top: 15px;
}

.calendar-calendar.col-sm-12 {
  max-width: calc(100% - 30px);
}

.table-cont .head {
  height: 67px;
}

.btn-group {
  margin: 5px 0;
}

.checkbox-dropdown {
  margin: 6px 0;
}

.checkbox-dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  margin-top: 15px;

  left: auto !important;
  right: 40px;

  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.checkbox-dropdown:last-child .dropdown-menu {
  right: 0;
}

.checkbox-dropdown .dropdown-item {
  position: relative;

  padding: 12px 18px;
  padding-left: 50px;
}

.checkbox-dropdown .dropdown-item::before {
  content: "";
  position: absolute;
  display: block;

  width: 15px;
  height: 15px;

  top: 15px;
  left: 17px;

  border-radius: 1px;
  border: 1px solid #b5b5b5;
  background-color: #fff;
}

.checkbox-dropdown .dropdown-item::after {
  content: "";
  position: absolute;
  display: block;

  width: 9px;
  height: 5px;

  top: 18px;
  left: 20px;
  transform: rotate(-45deg);

  border: 1.2px solid #fff;
  border-top: none;
  border-right: none;
}

.checkbox-dropdown .dropdown-item:hover,
.checkbox-dropdown .dropdown-item:focus,
.checkbox-dropdown .dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.03);
  color: #000;
}

.checkbox-dropdown .dropdown-item.active::before {
  background-color: #4fbfad;
  border-color: #4fbfad;
}

.checkbox-dropdown .dropdown-divider {
  margin: 0;
}

.calendar-filters .col > .btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.calendar-filters .col > .btn-group .btn-group {
  margin: 11px 0;
}

/* .calendar-filters .btn-group > .btn-group {
  display: inline-flex;
  margin: 6px 0;
} */

.btn-group .btn,
.artboadr .filter .col > div > label .date_range_picker .btn {
  font-size: 14px;

  padding: 3px 15px;

  border-radius: 20px !important;
  /* margin-right: 40px; */

  background-color: #fff !important;
  border-color: #b5b5b5 !important;
  color: #929292 !important;
}

.btn-group .btn:hover,
.btn-group .btn:focus {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn-group .btn-group .btn:active {
  color: #929292;
  background-color: #fff !important;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: rgb(0, 167, 158);
}

.show > .btn-outline-primary.dropdown-toggle:focus {
  color: #929292;
  background-color: #fff !important;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: rgb(0, 167, 158);
}

.btn-group .btn-group:last-child .btn {
  margin-right: 0;
}

.btn-group .btn::after {
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  border-top-color: rgb(0, 167, 158);
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item .nav-link {
  border: none;
  padding: 16px;
  padding-top: 17px;

  font-size: 16px;
  text-decoration: underline;

  cursor: pointer;
}

.nav-tabs .nav-item .nav-link.active {
  text-decoration: none;
  color: #000;
}

.graph-panel {
  position: relative;
}

.graph-panel .toggle {
  position: absolute;
  display: block;

  padding: 0;

  width: 41px;
  height: 40px;
  top: 6px;
  right: 70px;

  transform: rotate(180deg);
  transition: transform 0.3s;

  color: rgba(0, 0, 0, 0);

  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.graph-panel.collapsed .toggle {
  transform: rotate(0);
}

.graph-panel .toggle:hover::before,
.graph-panel .toggle:focus::before,
.graph-panel .toggle:hover::after,
.graph-panel .toggle:focus::after {
  background-color: #543688;
}

.graph-panel .toggle:active,
.graph-panel .toggle:active {
  background-color: #fff !important;
}

.graph-panel .toggle::before,
.graph-panel .toggle::after {
  content: "";
  position: absolute;
  display: block;

  width: 15px;
  height: 1px;

  top: 19px;

  background-color: #6b4d9e;
}

.graph-panel .toggle::before {
  transform: rotate(35deg);
  left: 7px;
}

.graph-panel .toggle::after {
  transform: rotate(-35deg);
  right: 7px;
}

.prev,
.next {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: relative;

  display: block;

  width: 40px;
  height: 40px;

  color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.next {
  transform: rotate(180deg);
}

.prev:hover::before,
.prev:hover::after,
.prev:focus::before,
.prev:focus::after,
.next:hover::before,
.next:hover::after,
.next:focus::before,
.next:focus::after {
  opacity: 0.8;
}

.prev:active,
.next:active,
.prev:focus,
.next:focus {
  outline: none;
}

.prev::before,
.next::before,
.prev::after,
.next::after {
  content: "";
  position: absolute;
  display: block;
}

.prev::before,
.next::before {
  top: 19px;
  left: 13px;

  width: 15px;
  height: 2px;

  background-color: #6b4e9e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.prev::after,
.next::after {
  top: 16px;
  left: 13px;

  transform: rotate(45deg);
  width: 8px;
  height: 8px;

  border: 2px solid #6b4e9e;
  border-top: none;
  border-right: none;
}

.year {
  margin-right: 5px;
}

.controls .col {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
}

.table {
  margin: 0;
  margin-bottom: 15px;
}

th {
  color: #535353;
}

/* .date {
  font-weight: 300;
  color: #747474;
} */

.updated .text {
  padding-right: 10px;
}

.table-wrap table {
  border: none;
}

.another-month .date {
  color: #e1e1e1;
}

.table-wrap th {
  color: #7d7d7d;
  font-weight: 400;
  text-align: center;

  border: none;
}

.table-wrap.simple .act-par {
  display: none;
}

.bar-rev label {
  margin: 0;
  display: none;
}

.bar {
  color: #343434;
  font-size: 16px;
  font-weight: 700;
}

.rev {
  font-size: 20px;
  font-weight: 700;
}

.green .rev {
  color: #52bdac;
}

.red .rev {
  color: #de2270;
}

.act-par {
  color: #747474;
}

.act-par label {
  margin: 0;
  margin-right: 5px;
  margin-top: 5px;
}

.act-par .value {
  font-weight: 700;
}

.calendar-details .table td,
.calendar-details .table th {
  padding: 7px;
}

.calendar-details .table th {
  padding-bottom: 10px;
}

.calendar-details .table td:first-child,
.calendar-details .table th:first-child {
  text-align-last: left;
}

.graphs .nav-tabs {
  justify-content: space-between;

  padding: 0 50px;
  padding-top: 20px;
}

.graphs .nav-tabs .nav-item .nav-link {
  text-decoration: none;

  color: #b5b5b5;
  font-size: 12px;

  border-radius: 15px;
  border: 1px solid #b5b5b5;

  padding: 3px 10px;

  transition: all 0.3s;
}

.graphs .nav-tabs .nav-item .nav-link:hover,
.graphs .nav-tabs .nav-item .nav-link:focus,
.graphs .nav-tabs .nav-item .nav-link.active {
  color: #fff;
  border-color: #6b4e9e;
  background-color: #6b4e9e;
}

.rooms_for_sale {
  padding: 20px 50px;
}

.rooms_for_sale .bar {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;

  margin-bottom: 15px;
}

.rooms_for_sale .bar label {
  margin-right: 5px;
}

.rooms_for_sale .progress {
  height: 3px;

  background-color: transparent;
}

.rooms_for_sale .progress-bar {
  background-color: #4fbfad;
}

.tooltip_icon {
  display: block;

  width: 20px;
  height: 20px;

  top: 15px;

  background-image: url("../images/info.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip_icon svg {
  display: none;
}

.selected-date,
.start-date,
.end-date {
  background-color: #4fbfad;
}

.calendar .table td,
.calendar .table th {
  width: 14.285%;
}

.calendar .table td.selected {
  transition: background-color 50ms linear;
}

.calendar .table td.selected {
  background-color: #fff3e2;
}

.calendar .table .red.selected {
  background-color: #fdbeca;
}
.calendar .table .green.selected {
  background-color: #d3eae6;
}

.custom-ml-dropdown {
  position: relative;
}
.custom-ml-dropdown .dropdown-item {
  position: relative;
}
.custom-ml-dropdown .dropdown-submenu {
  left: calc(100% + 3px);
  top: 0;
}

.artboadr .filter .col > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;

  padding: 10px 20px;
}

.artboadr .filter .col > div > label {
  display: flex;
  align-items: center;

  min-width: 170px;

  font-size: 16px;

  margin-bottom: 0;
}

.artboadr .filter .col > div > label > .btn-group {
  position: relative;
  width: 100%;
}

.artboadr .filter .col > div > label > .btn-group .btn {
  padding-right: 30px;
  padding-left: 24px;
  text-align-last: left;
}

.artboadr .filter .col > div > label > .btn-group .btn::after,
.artboadr .filter .col > div > .btn-group .btn::after {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.artboadr .filter .col > div > label > .btn-group .dropdown-menu {
  width: 100%;
  margin-top: 5px;
}

.artboadr .filter .col > div > .btn-group {
  min-width: 170px;
}

.artboadr .filter .col > div > .btn-group .btn {
  padding-right: 30px;
}

.artboadr .filter .col > div > .btn-group > .dropdown-menu {
  width: 100%;

  margin-top: 5px;
}

.artboadr .filter .col > div > label .date_range_picker.show .btn {
  border-color: #69509e !important;
}

.artboadr .filter .col > div > label .date_range_picker .btn {
  margin-left: 10px;
  box-shadow: none;
}

.artboadr .filter .col > div > label .date_range_picker .btn input {
  border: none;
  background-color: #fff;

  cursor: pointer;
}

.artboadr .filter .col > div > label .date_range_picker .dropdown-menu {
  width: 495px;
  left: -45% !important;

  margin-top: 5px;
  padding: 0 20px;
  padding-top: 10px;

  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls {
  height: 40px;
  margin-bottom: 10px;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center {
  position: relative;
  justify-content: flex-start;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next {
  position: absolute;
  right: 5px;
  width: 30px;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev::before,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next::before {
  display: none;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev::after,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next::after {
  width: 13px;
  height: 13px;

  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev {
  right: 35px;
}

.artboadr .filter .col > div > label .date_range_picker .dropdown-menu .table {
  border: none;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  td.prev-month,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  td.next-month {
  color: #9e9e9e;
}
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  th,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  td {
  border: none;

  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: 400;

  max-width: 65px;
  width: 65px;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  td {
  position: relative;
  /* padding: 5px 12px; */
  padding: 0;
  height: 65px;
  /* max-width: 65px;
  width: 65px; */

  cursor: pointer;
  box-sizing: border-box;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date {
  background-color: transparent;
  color: #fff;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::before,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::after,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date::before,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::before,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::after {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 55px;
  height: 55px;

  background-color: #69509e;
  border-radius: 50%;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::after,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date::before,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::after {
  width: 100%;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.15;

  background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, #69509e);
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date {
  background-color: transparent;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date::before {
  border-radius: 0;
  opacity: 0.15;
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0.15;

  background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, #69509e);
}

.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date.end-date::after {
  display: none;
}

.artboadr .export {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.artboadr .stateActiveBtnYearAgo {
  margin-left: 20px;
}

.artboadr .stateActiveBtnYearAgo.active {
  background-color: green !important;
  color: #fff !important;
}

.sales .stateActiveBtnYearAgo {
  margin-left: 20px;
}

.sales .stateActiveBtnYearAgo.active {
  background-color: green !important;
  color: #fff !important;
}

.artboadr .export .stableHeight {
  height: 29px;
  top: 5px;
}
.artboadr .export label .dropdown-toggle {
  margin-left: 10px;
  margin-right: 10px !important;
}

.artboadr .export .btn {
  border-radius: 0 !important;
}

.artboadr .export .btn:first-child {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.artboadr .export .btn:last-child {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.artboadr .tables h3 {
  text-align: center;

  font-size: 20px;
  font-weight: 400;

  /* margin-bottom: 15px; */
}

.artboadr .tables .table thead th {
  border: none;
  vertical-align: middle;
  font-weight: 400;
  text-align: center;
}

.artboadr .tables .table thead th:first-child,
.artboadr .tables .table tbody th {
  padding-left: 30px;
  text-align: left !important;
  font-weight: 400;
}

.artboadr .tables .table thead tr:nth-child(2) td,
.artboadr .tables .table thead tr:nth-child(2) th {
  color: #fff;
  text-align: center;

  background-color: #55bfad;

  border: 1px solid #e1e1e1;
}

.artboadr .tables .table tbody td,
.artboadr .tables .table tbody th {
  color: #6a6a6a;
  border: 1px solid #f3f4f5;
  text-align: center;

  background-color: #f3f4f5;
}

.artboadr .tables .table tbody th {
  color: #000;
}

.artboadr .tables .table tbody tr:nth-child(2n + 1) td,
.artboadr .tables .table tbody tr:nth-child(2n + 1) th {
  background-color: #fff;
}

.sales .panel {
  min-height: 304px;
  height: 100%;
}

.sales .panel .head {
  padding-top: 10px;
}

.sales .panel .head h2 {
  font-size: 22px;
  font-weight: 400;

  padding-top: 15px;
}

.sales .panel .body {
  padding: 0 15px;
  padding-bottom: 5px;
}

.sales .panel .table thead th {
  font-size: 16px;
  font-weight: 400;
  text-align: center !important;
  opacity: 0.7;
}

.sales .panel .table tbody tr {
  transition: background 0.2s;
}

.sales .panel .table tbody td {
  transition: border-color 0.2s;
}

.sales .panel .table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.sales .panel .table tbody tr:hover td {
  border-color: rgba(0, 0, 0, 0) !important;
}

.sales .panel .table tbody th {
  font-size: 20px;
  font-weight: 400;
  padding-right: 0;
}

.sales .panel .table tbody td:first-of-type {
  border: none !important;
}

.sales .panel .table tbody td {
  font-size: 20px;
}

.sales .panel .table .icon {
  display: block;
  color: rgba(0, 0, 0, 0);

  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.sales .panel .table .growth .icon {
  background-image: url("img/green-arrow.png");
}

.sales .panel .table .reduction .icon {
  background-image: url("img/red-arrow.png");
}

.sales .panel .key-metrics {
  padding: 0 15px;
}

.sales .panel .key-metrics .metric {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sales .panel .key-metrics .title {
  color: #535353;
  font-size: 14px;
  font-weight: 400;
}

.sales .panel .key-metrics .val {
  font-weight: 400;
  font-size: 41px;
}

.sales .panel .body .btn-group {
  margin-top: 15px;
}

.sales .panel .body .btn-group .btn {
  font-size: 18px;
  margin: 0 20px;

  padding: 3px 20px;
  padding-bottom: 4px;

  box-shadow: none;
}

.sales .panel .body .btn-group .btn:hover,
.sales .panel .body .btn-group .btn:focus {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.sales .panel .body .btn-group .btn.active {
  color: #fff !important;
  background-color: rgb(124, 91, 165) !important;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.calendar-details .collapse {
  position: relative;
}
.calendar-details .tab-content .overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  background: #33333394;
  z-index: 100;
  text-align: center;
  padding-top: 50%;
}

.labelPeriod {
  display: flex;
  align-self: center;
  margin-right: 12px;
}

.moreColor {
  background-image: url("img/green-arrow.png");
  display: block;
  color: rgba(0, 0, 0, 0);
  width: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.lessColor {
  background-image: url("img/red-arrow.png");
  display: block;
  color: rgba(0, 0, 0, 0);
  width: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.difference-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.difference-data-container__field {
  display: flex;
  justify-content: center;
  /* width: 58px; */
}

.temps-sales-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temps-sales-header h3 {
  margin-bottom: 0;
}

.eChartNoneValue {
  font-size: 18px;
  text-align: center;
  margin-top: calc(50% - 10px);
}

/* sales-depth */
.sales-depth .panel {
  height: 100%;
  padding: 10px 20px;
}

.sales-depth .panel .head h2 {
  font-size: 22px;
  font-weight: 400;
  padding-top: 15px;
}

.sales-depth .panel .key-metrics .metric {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sales-depth .panel .key-metrics {
  padding: 0 15px;
}

.sales-depth .panel .key-metrics .val {
  font-weight: 400;
  font-size: 41px;
}

.sales-depth .panel .key-metrics .title {
  color: #535353;
  font-size: 14px;
  font-weight: 400;
}

.sales-depth .panel .body {
  padding: 0 15px;
  padding-bottom: 5px;
}

.sales-depth__filters {
  display: flex;
  align-items: center;
  height: 100%;
}

.sales-depth__filters .checkbox-dropdown {
  margin-right: 12px;
}

/* sales-depth calendar */

.sales-depth .filter .col > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

.sales-depth .filter .col > div > label {
  display: flex;
  align-items: center;
  min-width: 170px;
  font-size: 16px;
  margin-bottom: 0;
}

.sales-depth .filter .col > div > label .date_range_picker .btn {
  margin-left: 10px;
  box-shadow: none;
}

.sales-depth .filter .col > div > label .date_range_picker .btn {
  font-size: 14px;
  padding: 3px 15px;
  border-radius: 20px !important;
  /* margin-right: 40px; */
  background-color: #fff !important;
  border-color: #b5b5b5 !important;
  color: #929292 !important;
}

.sales-depth .filter .col > div > label .date_range_picker .btn input {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.sales-depth .filter .col > div > label .date_range_picker .dropdown-menu {
  width: 495px;
  left: -45% !important;
  margin-top: 5px;
  padding: 0 20px;
  padding-top: 10px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls {
  height: 40px;
  margin-bottom: 10px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center {
  position: relative;
  justify-content: flex-start;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev {
  right: 35px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev::after,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next::after {
  width: 13px;
  height: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev,
.artboadr
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next {
  position: absolute;
  right: 5px;
  width: 30px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table {
  border: none;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  th {
  border: none;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: 400;
  max-width: 65px;
  width: 65px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  td {
  border: none;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: 400;
  max-width: 65px;
  width: 65px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date {
  background-color: transparent;
  color: #fff;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  td {
  position: relative;
  /* padding: 5px 12px; */
  padding: 0;
  height: 65px;
  cursor: pointer;
  box-sizing: border-box;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  td {
  border: none;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: 400;
  max-width: 65px;
  width: 65px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::before,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::after,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date::before,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::before,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::after {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background-color: #69509e;
  border-radius: 50%;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::before,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::after,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date::before,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::before,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::after {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background-color: #69509e;
  border-radius: 50%;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date::before {
  border-radius: 0;
  opacity: 0.15;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date {
  background-color: transparent;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::after,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .selected-date::before,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::after {
  width: 100%;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .start-date::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.15;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, #69509e);
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date {
  background-color: transparent;
  color: #fff;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .table
  .end-date::after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0.15;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, #69509e);
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next {
  position: absolute;
  right: 5px;
  width: 30px;
}
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev {
  position: absolute;
  right: 5px;
  width: 30px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev {
  right: 35px;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev::after,
.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next::after {
  width: 13px;
  height: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .prev::before {
  content: none;
}

.sales-depth
  .filter
  .col
  > div
  > label
  .date_range_picker
  .dropdown-menu
  .controls
  .text-center
  .next::before {
  content: none;
}

.nds-select {
  -webkit-appearance: none;
  align-self: center;
  min-width: 140px;
  text-align-last: center;
  display: flex;
}

.nds-select:after {
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid rgb(0, 167, 158);
  position: relative;
  top: 11px;
  right: 18px;
  content: "";
  z-index: 98;
}

.nds-select select {
  font-size: 14px;
  padding: 3px;
  border-radius: 20px !important;
  background-color: #fff;
  border-color: #b5b5b5;
  color: #929292;
  height: 29px;
  -webkit-appearance: none;
}

.market-stars {
  margin: 0 24px;
}

.market-stars .market-star {
  margin: 12px 0;
}

.market-stars__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market-stars
  .custom-control-input:not(:disabled):active
  ~ .custom-control-label::before {
  background-color: #4fbfad;
  border-color: #4fbfad;
}

.market-stars .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4fbfad;
  border-color: #4fbfad;
}

.ds-panel {
  min-height: 30px !important;
  padding: 12px 0;
}

/* digital marketing styles */

.digital-marketing__booking {
  display: flex;
  flex-wrap: wrap;
  padding: 34px;
}

.digital-marketing__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.digital-marketing__left-side .panel .body {
  margin: 0 18px;
}

.digital-marketing__left-side .panel .head {
  margin: 12px 0;
}

.digital-marketing__right-side {
  height: 100%;
}

.digital-marketing__right-side .panel {
  height: 100%;
}

.digital-marketing__right-side .panel .head {
  padding: 24px 0 0 0;
}

.digital-marketing__header {
  display: flex;
  justify-content: space-between;
}

.header-marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 26px;
  border-right: 1px solid #d9dbd7;
}

.header-marketing:last-child {
  border-right: none;
}

.header-marketing__title {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.header-marketing__count {
  font-size: 30px;
  line-height: 36px;
  margin-top: 8px;
}

.header-marketing__statistics {
  margin-top: 6px;
}

.booking-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99px;
  height: 64px;
  margin: 0.5px;
}

.booking-container__date {
  display: flex;
  justify-content: flex-end;
  margin: 12px;
}

.booking-container__count {
  margin-left: 15px;
  margin-top: -10px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.digital-marketing__table {
  width: 100%;
}

.digital-marketing__table .table__tr th {
  text-align: center;
}

.digital-marketing__table tbody tr th {
  text-align: center;
  vertical-align: inherit;
}

.digital-marketing__table tbody tr td {
  text-align: center;
  vertical-align: inherit;
}

.digital-marketing__brand-rate {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.brand-rate {
  display: flex;
  justify-content: center;
}

.brand-rate__data {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 12px;
}

.brand-rate__title-none-decoration {
  text-decoration: none !important;
}

.brand-rate__title span {
  font-size: 18px;
  text-decoration-line: underline;
  letter-spacing: 1px;
}

.brand-rate__visits span {
  font-size: 18px;
  letter-spacing: 1px;
}

.brand-rate__title {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.brand-rate__visits {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.digital-marketing__rate-future {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rate-future__item {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.future-item__rectangle {
  height: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
}

.head__constructor {
  display: flex;
  justify-content: center;
}

.form-control-min-width {
  width: initial;
}

.form-control-column {
  display: flex;
  justify-content: center;
}

.sales__table-data .nds-select:after {
  display: none;
}

/* .nds-select:after {
  display: none
} */

.digital-marketing__table tbody tr:nth-child(2n) {
  background-color: #f3f4f5;
}

.booking-color-white {
  background-color: #ffffff;
}

.booking-color-gray {
  background-color: #d9dbd7;
}

.booking-color-red {
  background-color: rgba(255, 197, 197, 0.92);
}

.booking-color-green {
  background-color: rgba(85, 191, 173, 0.38);
}

.booking-color-light-red {
  background-color: #ecd2d0;
}

.table__tr {
  background-color: #55bfad;
}

.table__tr th {
  color: #fff;
  border-bottom: 0 !important;
}

.dangerous_color {
  color: #e17474;
}

.safe_color {
  color: #55bfad;
}

.rateFuture-color1 {
  background-color: #009688;
}
.rateFuture-color2 {
  background-color: #1b8478;
}
.rateFuture-color3 {
  background-color: #396f66;
}
.rateFuture-color4 {
  background-color: #515f58;
}
.rateFuture-color5 {
  background-color: #6e4b46;
}
.rateFuture-color6 {
  background-color: #8a3735;
}
.rateFuture-color7 {
  background-color: #a42525;
}
