body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html {
  min-height: 100vh;
  background-color: #F7F7F7;
}
.App {
  background-color: #F7F7F7;
}
.container-row {
  margin-top: 20px;
}
.panel {
  background: #fff;
}
.tooltip_icon {
  position: absolute;
  top: 5px;
  right: 25px;
}

.sales-table .reduction {
  color: red;
}
.sales-table .growth {
  color: green;
}
.sales-table .row {
  margin: 0;
}
.sales-table .row > div {
  padding: 0;
}
.sales-table td {
  border-left: 1px solid #dee2e6 !important;
}
.key-metrics .good .val, .key-metrics .good .diff {
  color: green;
}
.key-metrics .bad .val, .key-metrics .bad .diff {
  color: red;
}
.key-metrics .metric {
  padding: 10px;
}

/* .calendar .table-wrap td span {
  display: block;
} */
.calendar-calendar .table-wrap td.green {
  background-color: #e0f0ed;
}
.calendar-calendar .table-wrap td.red {
  background-color: #fccdd7;
}
.calendar-calendar .table-wrap td .date{
  text-align: right;
}

/* .calendar-calendar .table-wrap td .v1 {
  font-size: 1.5em;
}
.calendar-calendar .table-wrap td .v1, 
.calendar-calendar .table-wrap td .v2 {
  font-weight: bold;
}
.calendar-calendar .table-wrap .green .v1 {
  color: #51beaa;
}
.calendar-calendar .table-wrap .red .v1 {
  color: #de226e;
} */

.table-cont .head {
  height: 50px;
}
.graph-panel .toggle {
  float: right;
  padding: 10px;
}
/* .calendar-calendar table td {
  position: relative;
}
.calendar-calendar table td .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: #333;
}
.calendar-calendar table td .content {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
} */