@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/NeoSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/NeoSansPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/NeoSansPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/NeoSansPro-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/NeoSansPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/NeoSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/NeoSansPro-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  }

body {
  margin: 0;
  padding: 0;
  font-family: 'Neo Sans Pro', sans-serif;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html {
  min-height: 100vh;
  background-color: #F7F7F7;
}
.App {
  background-color: #f3f4f5;
  flex-grow: 1;
}
.footer {
  margin-top: 25px;
}
.container-row {
  margin-top: 20px;
}
.panel {
  background: #fff;
}
.tooltip_icon {
  position: absolute;
  z-index: 99;
  top: 5px;
  right: 25px;
}

.tooltip .arrow::before {
  border: none;
}

.tooltip-inner {
  background-color: rgba(67, 15, 131, 0.671);
}

.sales-table .reduction {
  color: red;
}
.sales-table .growth {
  color: green;
}
.sales-table .row {
  margin: 0;
}
.sales-table .row > div {
  padding: 0;
}
.sales-table td {
  border-left: 1px solid #dee2e6 !important;
}
.key-metrics .good .val, .key-metrics .good .diff {
  color: green;
}
.key-metrics .bad .val, .key-metrics .bad .diff {
  color: red;
}
.key-metrics .metric {
  padding: 10px;
}

/* .calendar .table-wrap td span {
  display: block;
} */
.calendar-calendar .table-wrap td.green {
  background-color: #dff0ed;
}
.calendar-calendar .table-wrap td.red {
  background-color: #fbcdd6;
}
.calendar-calendar .table-wrap td .date{
  text-align: right;
}

.another-month,
.current-month {
  height: 85px;
}

/* .calendar-calendar .table-wrap td .v1 {
  font-size: 1.5em;
}
.calendar-calendar .table-wrap td .v1, 
.calendar-calendar .table-wrap td .v2 {
  font-weight: bold;
}
.calendar-calendar .table-wrap .green .v1 {
  color: #51beaa;
}
.calendar-calendar .table-wrap .red .v1 {
  color: #de226e;
} */

.graph-panel .toggle {
  float: right;
  padding: 10px;
}
/* .calendar-calendar table td {
  position: relative;
}
.calendar-calendar table td .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: #333;
}
.calendar-calendar table td .content {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
} */

.user-image {
  position: absolute;
  display: block;

  width: 40px;
  height: 40px;

  left: 10px;
  top: 10px;

  border-radius: 50%;

  overflow: hidden;
}

.user-image img {
  position: absolute;
  height: 100%;

  left: 50%;
  transform: translateX(-50%);
}

h4.main-title {
  font-size: 20px;
  font-weight: 400;
}

.navbar {
  padding: 0;

  background-image: linear-gradient(to left, rgb(124,91,165) 0%, rgb(0,167,158) 100%);

  margin-bottom: 15px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link {
  position: relative;
  color: #fff;

  cursor: pointer;
  min-height: 59px;

  padding: 14px 20px;
  padding-top: 22px;
  padding-left: 60px;

  transition: background-color 0.2s;

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 20px center;

  border-right: 1px solid #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;

  background-color: rgba(0,0,0,0.2);
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu {
  background-color: #fff;
  width: auto;
  min-width: 181px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);

  margin-top: 15px;
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-item {
  padding: 10px 30px;
  text-align: right;
  color: #000;
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-divider {
  margin: 0;
}

.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-item:hover,
.navbar-nav.ml-auto .nav-item:last-child .dropdown-menu .dropdown-item:focus {
  background-color: rgba(0,0,0,0.03);
}

.nav-item.active {
  background-color: #0d6461;
}

.navbar-brand {
  position: relative;
  padding: 0;
  margin: 0;

  display: block;

  width: 70px;
  height: 59px;

  /* background-image: url("../images/logo.png");
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat; */

  border-right: 1px solid #fff;
}

.navbar-brand::before {
  content: "H";
  position: absolute;
  display: block;

  width: 45px;
  height: 45px;

  top: 7px;
  left: 10px;

  color: #fff;
  font-size: 30px;
  font-weight: 400;

  border-radius: 50%;
  border: 2px solid #fff;

  padding-top: 3px;
  padding-left: 10px;
}

.navbar-brand img {
  display: none;
}

.nav-link svg {
  display: none;
}

.income-control {
  background-image: url("../images/algo.png");
}

.nav-link-marketing {
  background-image: url("../images/digi.png");
}

.nav-link-analytics {
  background-image: url("../images/data.png");
}

.navbar-light .navbar-nav .nav-link.nav-link-notifications {
  position: relative;
  border: none;

  padding-left: 40px;

  background-image: url("../images/notifications.png");
  background-size: 20px;
  background-position: center;
}

.navbar-light .navbar-nav .nav-link.nav-link-mail {
  position: relative;
  border: none;

  padding-left: 55px;

  background-image: url("../images/Inbox.png");
  background-position: center;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link {
  color: #000;
  border-right: none;
  padding: 10px;
  min-height: 0;
}

.navbar-nav .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  bordeR: none;

  width: 234px;
  right: 1px;

  background-color: #0d6461;
}

.navbar-nav .dropdown-menu .dropdown-item {
  padding: 0 24px;
  padding-left: 50px;
}
.navbar-nav .dropdown-menu .dropdown-item .nav-link,
.navbar-nav .dropdown-menu .dropdown-item .nav-link {
  color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: #367e7b;
}

.navbar-nav .dropdown-menu .dropdown-item:hover .nav-link,
.navbar-nav .dropdown-menu .dropdown-item:focus .nav-link {
  color: #fff;
}

.navbar-nav .dropdown-menu .dropdown-item.active {
  background-color: #367e7b;
}

.dropdown-menu {
  padding: 0;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link:hover {
  background-color: transparent;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(0,167,158);
}

.navbar-light .navbar-nav .nav-link .badge {
  position: absolute;
  display: block;

  color: rgb(115,91,162);
  font-size: 10px;

  width: 17px;
  height: 17px;

  top: 10px;
  right: 15px;

  background-color: #fff;
  border-radius: 50%;
}

.navbar-nav .hotel-selector .nav-link {
  border: none;
  color: #fff !important;
}

.navbar-nav .hotel-selector .dropdown-menu {
  background-color: #fff;
  right: 0;
  width: auto;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);

  margin-top: 15px;
}

.navbar-nav .hotel-selector .dropdown-menu .dropdown-item {
  padding: 10px 20px;
  color: #000;
}

.navbar-nav .hotel-selector .dropdown-menu .dropdown-item:hover,
.navbar-nav .hotel-selector .dropdown-menu .dropdown-item:focus,
.navbar-nav .hotel-selector .dropdown-menu .dropdown-item.active {
  background-color: rgba(0,0,0,0.03);
}

.calendar-details .nav-tabs {
  padding: 0 35px;
}

.calendar-calendar {
  max-width: calc(66.6666667% - 30px);
  margin-left: 15px;

  padding-top: 15px;
}

.calendar-calendar.col-sm-12 {
  max-width: calc(100% - 30px);
}

.table-cont .head {
  height: 67px;
}

.btn-group {
  margin: 5px 0;
}

.checkbox-dropdown {
  margin: 6px 0;
}

.checkbox-dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  margin-top: 15px;

  left: auto !important;
  right: 40px;

  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
}

.checkbox-dropdown:last-child .dropdown-menu {
  right: 0;
}

.checkbox-dropdown .dropdown-item {
  position: relative;

  padding: 12px 18px;
  padding-left: 50px;
}

.checkbox-dropdown .dropdown-item::before {
  content: "";
  position: absolute;
  display: block;

  width: 15px;
  height: 15px;

  top: 15px;
  left: 17px;

  border-radius: 1px;
  border: 1px solid #b5b5b5;
  background-color: #fff;
}

.checkbox-dropdown .dropdown-item::after {
  content: "";
  position: absolute;
  display: block;

  width: 9px;
  height: 5px;

  top: 18px;
  left: 20px;
  transform: rotate(-45deg);

  border: 1.2px solid #fff;
  border-top: none;
  border-right: none;
}

.checkbox-dropdown .dropdown-item:hover,
.checkbox-dropdown .dropdown-item:focus,
.checkbox-dropdown .dropdown-item.active {
  background-color: rgba(0,0,0,0.03);
  color: #000;
}

.checkbox-dropdown .dropdown-item.active::before {
  background-color: #4fbfad;
  border-color: #4fbfad;
}

.checkbox-dropdown .dropdown-divider {
  margin: 0;
}

.calendar-filters .col > .btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.calendar-filters .col > .btn-group .btn-group {
  margin: 11px 0; 
}

/* .calendar-filters .btn-group > .btn-group {
  display: inline-flex;
  margin: 6px 0;
} */

.btn-group .btn {
  font-size: 14px;

  padding: 3px 15px;

  border-radius: 20px !important;
  /* margin-right: 40px; */

  background-color: #fff !important;
  border-color: #b5b5b5 !important;
  color: #929292 !important;
}

.btn-group .btn:hover,
.btn-group .btn:focus {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.btn-group .btn-group .btn:active {
  color: #929292;
  background-color: #fff !important;

  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2) !important;
  border-color: rgb(0,167,158);
}

.show>.btn-outline-primary.dropdown-toggle:focus {
  color: #929292;
  background-color: #fff !important;

  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2) !important;
  border-color: rgb(0,167,158);
}

.btn-group .btn-group:last-child .btn {
  margin-right: 0;
}

.btn-group .btn::after {
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
  border-top-color: rgb(0,167,158);
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item .nav-link {
  border: none;
  padding: 16px;
  padding-top: 17px;

  font-size: 16px;
  text-decoration: underline;

  cursor: pointer;
}

.nav-tabs .nav-item .nav-link.active {
  text-decoration: none;
  color: #000;
}

.graph-panel {
  position: relative;
}

.graph-panel .toggle {
  position: absolute;
  display: block;

  padding: 0;

  width: 41px;
  height: 40px;
  top: 6px;
  right: 70px;

  transform: rotate(180deg);
  transition: transform 0.3s;

  color: rgba(0,0,0,0);

  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.graph-panel.collapsed .toggle {
  transform: rotate(0);
}

.graph-panel .toggle:hover::before,
.graph-panel .toggle:focus::before,
.graph-panel .toggle:hover::after,
.graph-panel .toggle:focus::after {
  background-color: #543688;
}

.graph-panel .toggle:active,
.graph-panel .toggle:active {
  background-color: #fff !important;
}

.graph-panel .toggle::before,
.graph-panel .toggle::after {
  content: "";
  position: absolute;
  display: block;

  width: 15px;
  height: 1px;

  top: 19px;

  background-color: #6b4d9e;
}

.graph-panel .toggle::before {
  transform: rotate(35deg);
  left: 7px;
}

.graph-panel .toggle::after {
  transform: rotate(-35deg);
  right: 7px;
}

.prev,
.next {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: relative;
  
  display: block;

  width: 40px;
  height: 40px;

  color: rgba(0,0,0,0);
  cursor: pointer;
}

.next {
  transform: rotate(180deg);
}

.prev:hover::before,
.prev:hover::after,
.prev:focus::before,
.prev:focus::after,
.next:hover::before,
.next:hover::after,
.next:focus::before,
.next:focus::after {
  opacity: 0.8;
}

.prev:active,
.next:active,
.prev:focus,
.next:focus {
  outline: none;
}

.prev::before,
.next::before,
.prev::after,
.next::after {
  content: "";
  position: absolute;
  display: block;
}

.prev::before,
.next::before {
  top: 19px;
  left: 13px;

  width: 15px;
  height: 2px;

  background-color: #6b4e9e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.prev::after,
.next::after {
  top: 16px;
  left: 13px;

  transform: rotate(45deg);
  width: 8px;
  height: 8px;

  border: 2px solid #6b4e9e;
  border-top: none;
  border-right: none;
}

.year {
  margin-right: 5px;
}

.controls .col{
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 18px;
}

.table {
  margin: 0;
  margin-bottom: 15px;
}

th {
  color: #535353;
}

/* .date {
  font-weight: 300;
  color: #747474;
} */

.updated .text {
  padding-right: 10px;
}

.table-wrap table {
  border: none;
}

.another-month .date {
  color: #e1e1e1;
}

.table-wrap th {
  color: #7d7d7d;
  font-weight: 400;
  text-align: center;

  border: none;
}

.table-wrap.simple .act-par {
  display: none;
}

.bar-rev label {
  margin: 0;
  display: none;
}

.bar {
  color: #343434;
  font-size: 16px;
  font-weight: 700;
}

.rev {
  font-size: 20px;
  font-weight: 700;
}

.green .rev {
  color: #52bdac;
}

.red .rev {
  color: #de2270;
}

.act-par {
  color: #747474;
}

.act-par label {
  margin: 0;
  margin-right: 5px;
  margin-top: 5px;
}

.act-par .value {
  font-weight: 700;
}

.calendar-details .table td,
.calendar-details .table th {
  padding: 7px;
}

.calendar-details .table th {
  padding-bottom: 10px;
}

.calendar-details .table td:first-child,
.calendar-details .table th:first-child {
  text-align-last: left;
}

.graphs .nav-tabs {
  justify-content: space-between;

  padding: 0 50px;
  padding-top: 20px;
}

.graphs .nav-tabs .nav-item .nav-link {
  text-decoration: none;

  color: #b5b5b5;
  font-size: 12px;

  border-radius: 15px;
  border: 1px solid #b5b5b5;

  padding: 3px 10px;

  transition: all 0.3s;
}

.graphs .nav-tabs .nav-item .nav-link:hover,
.graphs .nav-tabs .nav-item .nav-link:focus,
.graphs .nav-tabs .nav-item .nav-link.active {
  color: #fff;
  border-color: #6b4e9e;
  background-color: #6b4e9e;
}

.rooms_for_sale {
  padding: 20px 50px;
}

.rooms_for_sale .bar  {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;

  margin-bottom: 15px;
}

.rooms_for_sale .bar label {
  margin-right: 5px;
}

.rooms_for_sale .progress {
  height: 3px;

  background-color: transparent;
}

.rooms_for_sale .progress-bar {
  background-color: #4fbfad;
}

.tooltip_icon {
  display: block;

  width: 20px;
  height: 20px;

  top: 15px;

  background-image: url("../images/info.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip_icon svg {
  display: none;
}


.selected-date, .start-date, .end-date {
  background-color: #4fbfad;
}

.calendar .table td, .calendar .table th { width: 14.285% }

.calendar .table td.selected {
  transition: background-color 50ms linear;
}

.calendar .table td.selected {
  background-color: #fff3e2;
}

.calendar .table .red.selected {
  background-color: #fdbeca;
}
.calendar .table .green.selected {
  background-color: #d3eae6;
}


.custom-ml-dropdown {
  position: relative;
}
.custom-ml-dropdown .dropdown-item {
  position: relative;
}
.custom-ml-dropdown .dropdown-submenu {
  left: calc(100% + 3px);
  top: 0;
}

