.own-hotel-info__input {
  width: 200px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  border-radius: 2px;
  font-family: "SF Pro Display Italic";
  border: 1px solid #dddddd;
  padding: 4px 12px;
}

.own-hotel-gap {
  margin-bottom: 12px;
}

.own-hotel-info-history-level {
  display: flex;
  padding: 12px 0;
  font-family: "SF Pro Display";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
}

.own-hotel-info-history-level_even {
  background-color: #fbfbfb;
}

.own-hotel-info-history-level-confirmed_remove {
  margin-left: 12px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
