.hotel-object-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 23px;
  margin: 10px 0;
}

.hotel-object__title {
  display: flex;
  width: 40%;
  font-family: SF Pro Display;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  align-items: center;
  justify-content: space-between;
  margin-right: 12px;
}

.hotel-object__distance {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
  font-family: SF Pro Display;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  color: #a8a8a8;
}

.hotel-object__count-rooms {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SF Pro Display;
  font-style: italic;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  color: #626262;
}

.hotel-object__check-btn {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 4px 40px;
  width: 20%;
  background-color: #339289;
  border-radius: 3px;
  border: 1px solid #339289;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.00028px;
  cursor: pointer;
  transition: 0.4s;
}

.hotel-object__check-btn:hover {
  background-color: #2b776f;
  border: 1px solid #2b776f;
}

.hotel-object__check-btn_checked {
  background-color: #bcbcbc;
  border: 1px solid #bcbcbc;
}

.star-gap {
  margin-right: 8px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 13px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #c4c4c4;
  height: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../fonts/SFProDisplay-Light.eot");
  src: url("../../../fonts/SFProDisplay-Light.woff") format("woff"),
    url("../../../fonts/SFProDisplay-Light.woff2") format("woff2"),
    url("../../../fonts/SFProDisplay-Light.ttf") format("truetype");
}
